extends jade/base

block layout
    block header_content

        h3 Header

    block panel_content
        ul
            li
                a home
            li
                a about
            li
                a kontakt
            li
                a news

    block content
        .text
            p.
                Lucas ipsum dolor sit amet jinn moff zabrak maul dagobah darth darth skywalker kashyyyk moff. Hutt gamorrean
                yoda darth maul calamari antilles jade. Secura jinn wicket skywalker ventress jawa darth. Mara darth solo
                owen jabba dooku gamorrean maul gamorrean. Antilles palpatine wampa maul. Jabba maul kessel amidala maul
                anakin cade r2-d2. Wicket lobot dagobah lars. Greedo jinn hutt darth lars darth. Amidala ackbar palpatine
                grievous ackbar qui-gon wampa c-3po. Mara baba mara luke darth kenobi.
            p.
                Grievous lars moff darth kit moff skywalker sebulba. Kashyyyk k-3po chewbacca dagobah sidious alderaan hutt
                gamorrean. Solo mon jinn greedo aayla. Dooku c-3p0 watto jade solo. Kit darth bothan solo. Solo padmé
                amidala leia fett antilles kessel palpatine. Coruscant yavin twi'lek fett. Jabba binks utapau jango kit
                organa moff sebulba jade. Ben r2-d2 leia hutt hutt watto windu. Vader watto vader lars hutt fisto. Kessel
                solo mustafar yoda. Skywalker chewbacca darth ackbar ewok antilles mothma. Organa utapau endor jar.
            p.
                Jade vader watto owen padmé zabrak chewbacca lars darth. Wicket kessel watto jade binks jango windu. Luke
                leia hutt wedge jade. Windu c-3po moff calamari chewbacca. Sidious alderaan solo fisto tusken raider k-3po
                kit ahsoka. Qui-gon jango jade owen darth solo luke mon anakin. Gamorrean qui-gon endor c-3p0 moff greedo
                grievous ewok sidious. Tusken raider c-3p0 solo mandalore skywalker mon mon. Lobot darth calamari dagobah
                yoda aayla skywalker obi-wan grievous. Baba moff solo darth. Mara ahsoka wicket windu antilles calamari
                kashyyyk hoth.



    block footer_content

        h3 Footer

