- load sekizai_tags menu_tags i18n

doctype html
html(lang="{{ LANGUAGE_CODE }}")
  head

    title
      - block pagetitle
        | Base

    - include  'partials/_head.jade'

  body(ng-app="app" ng-controller="MainController")

    - include 'partials/_header.jade'
    - include 'partials/_breadcrumb.jade'

    .container

      - block content
        | base


    - include 'partials/_footer.jade'
    - include 'partials/_scripts.jade'
