doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
        bar(1 + 5)
      }

    // build:css {{ STATIC_URL }}{{cookiecutter.project_name}}/style/main.css
    // bower:css
    // endbower
    link(rel="stylesheet" href="{{STATIC_URL}}{{cookiecutter.project_name}}style/main.css")
    // endbuild

  body
    h1 Jade - node template engine
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features..

    // build:js {{ STATIC_URL }}{{cookiecutter.project_name}}/scripts/main.js
    // bower:js
    // endbower
    script(src='{{ STATIC_URL }}{{cookiecutter.project_name}}/scripts/main.js')
    // endbuild

