doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
        bar(1 + 5)
      }

    // build:css /style/main.css
    // bower:css
    // endbower
    // endbuild

  body
    h1 Jade - node template engine
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features..

    // build:js /scripts/main.js
    // bower:js
    // endbower
    // endbuild

