doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
        bar(1 + 5)
      }
    // build:css {{ STATIC_URL }}prototype/style/main.css
    link(rel="stylesheet" href="{{STATIC_URL}}style/main.css")
    // bower:css
    // endbower
    // endbuild

  body
    h1 Jade - node template engine
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features..
    // build:js {{ STATIC_URL }}prototype/scripts/main.js
    script(src='/static/prototype/scripts/main.js')

    // bower:js
    // endbower
    // endbuild

