{% raw %}

- load sekizai_tags menu_tags i18n
- load compress
- load staticfiles

doctype html
html(lang="{{ LANGUAGE_CODE }}{% endraw %}")
  head
    title

      meta(charset="utf-8")
      meta(http-equiv="x-ua-compatible" content="ie=edge")
      meta(name="viewport" content="width=device-width,initial-scale=1")


      - block page_title
        | Base

    - compress css
      // build:css {{ STATIC_URL }}frontend/style/main.css
      // bower:css
      // endbower
      | <link rel="stylesheet" type="text/x-scss" href="{% static '{% endraw %}{{ cookiecutter.project_name }}{% raw %}/style/main.scss' %}">
      // endbuild

    | {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}

  body(ng-app="app" ng-controller="MainController")

    - include '{% endraw %}{{ cookiecutter.project_name }}{% raw %}/partials/header.jade'

    .container
      ul.breadcrumbs
        - block breadcrumb
        li.active
          a(href='/{% endraw %}{{ cookiecutter.project_name }}/') {{ cookiecutter.project_name }}{% raw %}

    .container
      .subnavigation
        -block subnavi
          ul

        h5 {% trans 'Categories' %}
        ul.side-nav
          li
            a(href="#") Module One

    .main
      -block body
        - block content
          h5 {% trans '{% endraw %}{{ cookiecutter.project_name }}{% raw %}' %}


  - include '{% endraw %}{{ cookiecutter.project_name }}{% raw %}/partials/footer.jade'
  - compress js
    // build:js {{ STATIC_URL }}frontend/scripts/main.js
    // bower:js
    // endbower
    // endbuild
    script(src='/static/{% endraw %}{{ cookiecutter.project_name }}{% raw %}/scripts/main.js')

  | {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}

{% endraw %}
