- load sekizai_tags menu_tags i18n
- load compress
- load staticfiles

doctype html
html(lang="{% raw %}{{ LANGUAGE_CODE }}{% endraw %}")
  head
    title
      - block pagetitle
        | Base

    - compress css
      // build:css {{ STATIC_URL }}frontend/style/main.css
      // bower:css
      // endbower
      | <link rel="stylesheet" type="text/x-scss" href="{% raw %}{% static '{% endraw %}{{ cookiecutter.project_name }}/style/main.scss' {% raw %}%}{% endraw %}">
      // endbuild

    | {% raw %}{% render_block "css" %}{% endraw %}

  body(ng-app="app" ng-controller="MainController")

    - include '{{ cookiecutter.project_name }}/partials/header.jade'

    .container
      ul.breadcrumbs
        - block breadcrumb
        li.active
          a(href='/{{ cookiecutter.project_name }}/') {{ cookiecutter.project_name }}

    .container
      .subnavigation
        -block subnavi
          ul

        h5 {% raw %}{% trans 'Categories' %}{% endraw %}
        ul.side-nav
          li
            a(href="#") Module One

    .main
      -block body
        - block content
          h5 {% raw %}{% trans '{% endraw %}{{ cookiecutter.project_name }}{% raw %}' %}{% endraw %}


  - include '{{ cookiecutter.project_name }}/partials/footer.jade'
  - include '{{ cookiecutter.project_name }}/partials/scripts.jade'
  | {% raw %}{% render_block "js" %}{% endraw %}
