block meta
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  meta(name="description" content="")
  meta(name="keywords" content="")

block title
  title Title


// build:css /style/main.css
// bower:css
// endbower
link(rel="stylesheet" type="text/css" href="/style/main.css")
// endbuild

link(rel="shortcut icon" href="/assets/favicon.ico")
