{% raw %}
- load compress sekizai_tags cms_tags

meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width,initial-scale=1")


// build:css {{ STATIC_URL }}frontend/style/main.css
// bower:css
// endbower
link(rel="stylesheet" href="{{STATIC_URL}}{% endraw %}{{ cookiecutter.project_name }}{% raw %}/style/main.css")
// endbuild


| {% addtoblock "css" %}
| {% endaddtoblock "css %}

| {% render_block "css" %}



{% endraw %}