{% raw %}
- load compress sekizai_tags cms_tags

meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width,initial-scale=1")
title
  | Title


// build:css {{ STATIC_URL }}frontend/style/main.css
// bower:css
link(rel='stylesheet', href='/static/frontend/vendor/normalize-css/normalize.css')
// endbower
link(rel="stylesheet" href="{{STATIC_URL}}frontend/style/main.css")
// endbuild


| {% addtoblock "css" %}
link(rel="stylesheet" href="{{ STATIC_URL }}cms/css/cms.base.css")
| {% endaddtoblock "css %}

- render_block "css"



{% endraw %}