| {% compress js %}
// build:js {{ STATIC_URL }}frontend/scripts/main.js
// bower:js
// endbower
// endbuild
script(src='/static/frontend/scripts/main.js')
| {% endcompress %}

| {% render_block "js" %}