// bower:scss
// endbower

@import "settings";



body {
  background-color: $body-background;
  color: $font-color;
}

.header {
  background-color: $header-background;
}

.footer {
  background-color: $footer-background;
}





