// bower:scss
// endbower

@import "settings";

header.top {
  background-color: $header-background-color;
  color: $header-font-color;
  box-sizing: border-box;
  padding: 1.2rem;
  border-bottom: groove 1px #252525;
  font-size: 1em;
}

header.nav {
  background-color: grey;
  color: $header-font-color;
  box-sizing: border-box;
  padding: 0.4rem;
  font-size: 0.8em;
  border-bottom: solid 1px #c3c3c3;
}

.container {

  // if susy uncomment
  //@include container(980px)

}

nav {
  li {
    display: inline;
    margin-right: 1rem;
  }
}


.content {
  padding-top: 3rem;
  // if susy uncomment
  //@include span(4 of 6);
}

aside {

  // if susy uncomment
  //@include span(2 of 6 omega);

  section {
    background-color: rgba(138, 129, 142, 0.18);
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 5px;
    h3 {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

footer {
}







