.header {
  background-color: $header-background;
  color: white;
  vertical-align: bottom;

  .border-line {
    background-color: $header-border-bottom;
    height: 1px;
  }

  ul, li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 0.6em;
    }
  }

  .logo {
    padding: 0;
    img {
      width: 220px;
    }
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .mobile-menu {
    padding-left: 0.6em;
  }

  .nav, .mobile-menu {
    float: left;
    display: inline-block;
    margin-left: -0.6em;
    li {
      color: $menu-font-color;

      &.selected {
        color: $menu-font-color-active;
      }
      &.ancestor {
        color: $menu-font-color-ancestor;
      }
      &:hover {
        color: $menu-font-color-hover;
      }

      a {
        display: inline-block;
        padding: 0.6em;
      }

      ul.child {
        background-color: $header-background;
        border: 1px solid $header-border-bottom;
        border-top: none;
      }
    }

    ul {
      @include breakpoint($small-range) {
        display: none;
      }
      @include breakpoint($small-range-max) {
        display: block;
      }
    }

    .dropdown-top {
      position: relative;

      &:hover {
        .dropdown-child {
          display: block;
        }
      }

      .dropdown-child {
        display: none;
        position: absolute;
      }
    }
  }

  .lang {
    display: inline-block;
    float: right;

    ul, li {
      display: inline;
    }

    li {
      float: left;
      color: $menu-font-color;
      .active {
        color: $menu-font-color-active;
      }
      &:hover {
        color: $menu-font-color-hover;
      }

      a {
        padding-left: 0.2em;
        padding-right: 0.2em;

      }
    }
  }

  .mobile-menu {
    ul {
      @include breakpoint($small-range) {
        display: block;
      }
      @include breakpoint($small-range-max) {
        display: none;
      }

      a {
        color: $menu-font-color-active;
      }
    }
  }
}

.breadcrumb {
  color: $menu-font-color;
  padding-top: 2.6em;
  padding-bottom: 2.6em;
  font-size: 0.8em;

  li {
    display: inline-block;

    &:hover {
      color: $menu-font-color-hover;
    }
  }
}

