doctype
html.no-js(lang='')
    head
        include partials/head

    body
        //if lt IE 8
          p.browserupgrade
            | You are using an
            strong outdated
            |  browser. Please
            a(href='http://browsehappy.com/') upgrade your browser
            |  to improve your experience.
        // Add your site or application content here

        block layout
            p Hello world! This is HTML5 Boilerplate.

        include partials/bottom_scripts


